@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

@keyframes scrollKeyframe {
  0% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(50%); } }

.scroll-key-frame {
  animation-name: scrollKeyframe;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.main-body {
  margin: 0 100px;
  margin-top: 120px; }

.header {
  position: fixed;
  z-index: 1030;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  height: 120px;
  background-color: white;
  z-index: 1030;
  top: 0; }
  .header .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; }
  .header .logo {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .logo h1 {
      position: relative;
      display: inline-block;
      font-weight: 400;
      margin: 0; }
      .header .logo h1 a {
        font-size: 6rem;
        color: #383639;
        font-family: "Oswald", sans-serif; }
      .header .logo h1:after {
        content: "RECRUITSITE";
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        right: -125px;
        bottom: 25px;
        font-family: "Oswald", sans-serif; }

.drawer.expand {
  transform: translateX(0);
  opacity: 1; }

.drawer {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  width: 400px;
  background-color: #222222;
  height: 100vh;
  z-index: 2000; }
  .drawer .drawer-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .drawer .drawer-content .btn-cls-drawer {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px; }
      .drawer .drawer-content .btn-cls-drawer .btn-span {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative; }
        .drawer .drawer-content .btn-cls-drawer .btn-span span {
          position: absolute;
          top: 15px;
          display: block;
          width: 30px;
          height: 2px;
          background-color: white;
          transform: rotate(45deg); }
        .drawer .drawer-content .btn-cls-drawer .btn-span span:first-of-type {
          transform: rotate(135deg); }
    .drawer .drawer-content ul li {
      margin: 20px 0; }
      .drawer .drawer-content ul li a {
        font-size: 1.6rem;
        color: white; }

.layer-drawer {
  transition: all 0.5s ease;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1500;
  background-color: transparent; }

.layer-drawer.expand {
  transform: translateX(0); }

.menu {
  cursor: pointer;
  position: fixed;
  left: 0;
  width: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1020; }
  .menu .menu-content {
    transform: rotate(-90deg);
    width: 70px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu .menu-content .line {
      width: 15px;
      height: 14px;
      position: relative; }
      .menu .menu-content .line span {
        top: 39%;
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        background-color: #383639; }
      .menu .menu-content .line span:first-of-type {
        transform: translateY(-4px); }
      .menu .menu-content .line span:last-of-type {
        transform: translateY(4px); }
    .menu .menu-content .title {
      display: flex;
      align-items: center; }
      .menu .menu-content .title span {
        font-size: 1.6rem;
        font-family: "Oswald", sans-serif;
        color: #383639; }

.entry {
  display: block;
  position: fixed;
  right: 0;
  width: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1020; }
  .entry .entry-content {
    transform: rotate(90deg); }
    .entry .entry-content span {
      font-size: 1.6rem;
      color: #383639;
      font-family: "Oswald", sans-serif; }

.topslider {
  width: 100%;
  position: relative; }
  .topslider .topslide-main {
    width: 100%; }
    .topslider .topslide-main video {
      width: 100%;
      object-fit: cover; }
  .topslider .scroll {
    position: absolute;
    bottom: -50px;
    left: 50%; }
    .topslider .scroll .text {
      font-size: 1.6rem;
      color: #383639;
      font-family: "Oswald", sans-serif; }
    .topslider .scroll .line-scroll {
      margin: auto;
      width: 2px;
      height: 100px;
      background-color: #383639;
      display: block;
      margin-top: 20px; }

.news {
  color: white;
  width: 100%;
  margin-top: 5.3%;
  background-color: #222222; }
  .news .news-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 4.7%;
    padding-bottom: 3.7%; }
    .news .news-content .left {
      width: 70%;
      padding-left: 8.2%; }
      .news .news-content .left .title {
        font-size: 2.4rem;
        margin-bottom: -3px; }
        .news .news-content .left .title:after {
          content: "";
          display: block;
          width: 20px;
          height: 4px;
          background-color: #c01920;
          margin-top: 20px; }
      .news .news-content .left ul {
        list-style: none; }
        .news .news-content .left ul li {
          font-size: 1.6rem;
          margin: 2.7% 0; }
          .news .news-content .left ul li p {
            display: inline-block;
            margin-left: 3%; }
    .news .news-content .right {
      width: 22%; }
      .news .news-content .right .right-content .icon svg {
        fill: white; }
      .news .news-content .right .right-content a {
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .news .news-content .right .right-content a .text {
          margin-left: 6px; }
          .news .news-content .right .right-content a .text span {
            font-size: 1.6rem;
            color: white; }
        .news .news-content .right .right-content a:hover {
          color: #c01920; }

.special {
  margin-top: 7.8%;
  position: relative; }
  .special .title-top {
    font-size: 6.4rem;
    color: #383639;
    font-family: "Oswald", sans-serif;
    font-weight: 400; }
  .special .top-content,
  .special .bottom-content {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .special .top-content .card:first-of-type,
    .special .bottom-content .card:first-of-type {
      margin-top: 11%; }
    .special .top-content .card:nth-of-type(2),
    .special .bottom-content .card:nth-of-type(2) {
      margin-top: 5.3%; }
    .special .top-content .card,
    .special .bottom-content .card {
      width: 32%; }
      .special .top-content .card .img-card,
      .special .bottom-content .card .img-card {
        width: 100%; }
      .special .top-content .card .card-text,
      .special .bottom-content .card .card-text {
        position: relative;
        margin-top: -3px;
        padding: 7.2%;
        color: white;
        background-color: #383639; }
        .special .top-content .card .card-text .title,
        .special .bottom-content .card .card-text .title {
          font-size: 2.4rem;
          text-align: center;
          margin-bottom: 2%; }
        .special .top-content .card .card-text p,
        .special .bottom-content .card .card-text p {
          font-size: 1.6rem; }
        .special .top-content .card .card-text .arrow,
        .special .bottom-content .card .card-text .arrow {
          transition: all 0.5s ease;
          width: 50px;
          height: 50px;
          position: absolute;
          bottom: -22px;
          right: 20px; }
          .special .top-content .card .card-text .arrow img,
          .special .bottom-content .card .card-text .arrow img {
            width: 100%; }
      .special .top-content .card:hover,
      .special .bottom-content .card:hover {
        opacity: 0.8; }
        .special .top-content .card:hover .arrow,
        .special .bottom-content .card:hover .arrow {
          transform: translateX(20px); }
  .special .bottom-content {
    padding-bottom: 29%; }
    .special .bottom-content .card {
      width: 49%;
      margin-top: 4.5% !important; }
      .special .bottom-content .card .card-text {
        padding: 4%; }
        .special .bottom-content .card .card-text .title {
          margin-bottom: 0; }
  .special .layer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1; }
    .special .layer .layer-img {
      width: 100%; }

.message {
  margin: 12.8% 0; }
  .message .message-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .message .message-content .left {
      width: 58%; }
    .message .message-content .left .title span {
      display: block;
      font-size: 4.8rem;
      font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ";
      font-weight: bold;
      line-height: 70px; }
    .message .message-content .left .title span:first-of-type {
      font-size: 2.4rem;
      font-family: "Oswald", sans-serif;
      font-weight: 400; }
      .message .message-content .left .title span:first-of-type:after {
        content: "";
        width: 20px;
        height: 4px;
        background-color: #c01920;
        display: block;
        margin-top: 1.5%;
        margin-bottom: 2%; }
    .message .message-content .right {
      width: 42%;
      font-size: 1.6rem;
      letter-spacing: 3px; }

.bis-work {
  position: relative;
  padding: 5% 0;
  margin-bottom: 9.2%; }
  .bis-work .layer-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 71.5%;
    background-color: #222222;
    height: 100%; }
  .bis-work .bis-work-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .bis-work .bis-work-content .left {
      width: 55%; }
      .bis-work .bis-work-content .left img {
        width: 100%; }
    .bis-work .bis-work-content .right {
      transform: translateX(6%);
      width: 40%;
      color: white; }
      .bis-work .bis-work-content .right .title {
        font-size: 3.6rem; }
        .bis-work .bis-work-content .right .title span {
          font-size: 2.4rem;
          font-family: "Oswald", sans-serif;
          display: block; }
          .bis-work .bis-work-content .right .title span:after {
            content: "";
            display: block;
            width: 20px;
            height: 4px;
            background-color: #c01920;
            margin: 4% 0; }
      .bis-work .bis-work-content .right p {
        margin-top: 20px;
        font-size: 1.6rem;
        letter-spacing: 2px; }
      .bis-work .bis-work-content .right a {
        margin-top: 20px;
        display: block;
        text-align: center;
        font-size: 1.6rem;
        font-family: "Oswald", sans-serif;
        color: white;
        transition: all 0.5s ease; }
        .bis-work .bis-work-content .right a:after {
          content: "";
          width: 68px;
          height: 2px;
          display: block;
          background-color: white;
          margin: auto;
          margin-top: 10px; }
        .bis-work .bis-work-content .right a:hover {
          color: #c01920; }

.work {
  padding: 3.5% 0; }
  .work .layer-bg {
    right: unset;
    left: 0; }
  .work .bis-work-content .right {
    transform: translateY(0); }

.envi-employ {
  width: 100%;
  background-color: #efefef;
  padding: 5% 0; }
  .envi-employ .title {
    font-size: 3.6rem; }
  .envi-employ .envi-content {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .envi-employ .envi-content .card {
      overflow: hidden;
      width: 49%; }
      .envi-employ .envi-content .card img {
        transition: all 0.5s ease;
        overflow: hidden; }
      .envi-employ .envi-content .card .card-text {
        color: #383639; }
        .envi-employ .envi-content .card .card-text h3 {
          font-size: 2.4rem;
          padding-top: 6%;
          margin-top: 1px; }
        .envi-employ .envi-content .card .card-text p {
          margin-top: 1%;
          font-size: 1.6rem;
          letter-spacing: 1px; }
  .envi-employ .employ-title {
    margin-top: 8.5%; }
  .envi-employ .employ-content {
    width: 78%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .envi-employ .employ-content .content .icon {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s; }
      .envi-employ .employ-content .content .icon:hover {
        opacity: 0.8; }
        .envi-employ .employ-content .content .icon:hover + .text {
          color: #c01920; }
    .envi-employ .employ-content .content .text {
      margin-top: 10%;
      text-align: center; }
      .envi-employ .employ-content .content .text span {
        font-size: 2.4rem;
        font-weight: bold; }

.menu-bottom {
  padding: 3% 0;
  width: 100%;
  background-color: #222222; }
  .menu-bottom .mebo-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .menu-bottom .mebo-content ul {
      width: 25%;
      list-style: none; }
      .menu-bottom .mebo-content ul li {
        margin: 10px 0;
        font-size: 1.4rem; }
        .menu-bottom .mebo-content ul li a {
          color: white; }
        .menu-bottom .mebo-content ul li:hover {
          opacity: 0.8; }
    .menu-bottom .mebo-content ul:first-of-type li {
      margin: 20px; }

.footer p {
  margin: 16px 0;
  font-size: 1.4rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

@media screen and (max-width: 768px) {
  .header {
    height: 80px; }
    .header .header-content {
      width: 100%;
      position: relative; }
      .header .header-content .logo h1 a {
        font-size: 3.5rem; }
      .header .header-content .logo h1:after {
        font-size: 1.4rem;
        right: -75px;
        bottom: 18px; }
      .header .header-content .menu-header {
        position: absolute;
        right: 20px;
        top: 25%;
        height: 30px;
        width: 30px; }
        .header .header-content .menu-header .menu-span {
          cursor: pointer;
          position: relative;
          width: 100%;
          height: 100%; }
          .header .header-content .menu-header .menu-span span {
            position: absolute;
            display: block;
            top: 50%;
            width: 30px;
            height: 2px;
            background-color: #222222; }
          .header .header-content .menu-header .menu-span span:first-of-type {
            transform: translateY(-12px); }
          .header .header-content .menu-header .menu-span span:last-of-type {
            transform: translateY(12px); }
      .header .header-content .menu-header.expand span {
        transform: rotate(45deg) translateY(0); }
      .header .header-content .menu-header.expand span:first-of-type {
        transform: rotate(135deg); }
      .header .header-content .menu-header.expand span:last-of-type {
        transform: rotate(45deg); }
  .drawer {
    width: 300px;
    left: unset;
    right: 0;
    transform: translateX(100%); }
  .main-body {
    margin: 0;
    margin-top: 80px;
    padding: 0 20px; }
  .topslider .scroll {
    bottom: -20px; }
    .topslider .scroll .line-scroll {
      height: 80px; }
  .news .news-content .left {
    width: 100%;
    padding-left: 20px; }
  .news .news-content .right {
    padding-left: 20px;
    width: 200px; }
  .special .layer {
    visibility: hidden; }
  .special .special-content .top-content .card {
    margin-top: 0;
    width: 100%;
    margin-bottom: 40px; }
    .special .special-content .top-content .card .card-text {
      margin-top: -6px;
      padding: 20px; }
  .special .special-content .top-content .card:first-of-type {
    margin-top: 30px; }
  .special .special-content .bottom-content {
    padding-bottom: 0; }
    .special .special-content .bottom-content .card {
      width: 100%; }
      .special .special-content .bottom-content .card .card-text {
        margin-top: -6px; }
  .entry,
  .menu {
    visibility: hidden; }
  .message {
    margin: 50px 0; }
    .message .message-content .left {
      width: 100%; }
      .message .message-content .left .title span {
        font-size: 3rem;
        line-height: 44px; }
    .message .message-content .right {
      width: 100%;
      margin-top: 30px;
      letter-spacing: 1px; }
  .bis-work .layer-bg {
    width: 100%; }
  .bis-work .bis-work-content .left {
    width: 100%;
    margin: 0 20px; }
  .bis-work .bis-work-content .right {
    transform: translate(0);
    margin: 20px;
    padding: 0;
    width: 100%; }
  .envi-employ {
    padding: 20px; }
    .envi-employ .employ-content .content .icon {
      width: 140px;
      height: 140px; }
      .envi-employ .employ-content .content .icon .icon-employ {
        width: 30px; }
    .envi-employ .employ-content .content .text span {
      font-size: 1.6rem; } }

@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.8rem !important; }
    h2:after {
      margin-top: 10px !important; }
  p {
    font-size: 1.2rem !important; }
  h3 {
    font-size: 1.6rem !important; }
  .header {
    height: 60px; }
    .header .header-content {
      padding: 0 20px;
      justify-content: flex-start; }
  .topslider .scroll {
    left: 46%; }
    .topslider .scroll .text {
      font-size: 1.2rem; }
    .topslider .scroll .line-scroll {
      height: 40px;
      width: 1px;
      margin-top: 15px; }
  .main-body {
    margin-top: 60px; }
  .news .news-content {
    padding: 10px; }
    .news .news-content .left {
      padding-left: 0; }
      .news .news-content .left ul li {
        font-size: 1.2rem; }
    .news .news-content .right {
      padding-left: 0; }
  .envi-employ .envi-content .card {
    width: 100%; }
  .envi-employ .title {
    margin-bottom: 20px; }
  .envi-employ .employ-content {
    width: 80%; }
    .envi-employ .employ-content .content .icon {
      width: 80px;
      height: 80px; }
      .envi-employ .employ-content .content .icon .icon-employ {
        width: 20px; }
  .special .special-content .top-content,
  .special .special-content .bottom-content {
    margin-top: 0; }
    .special .special-content .top-content .card .card-text p,
    .special .special-content .bottom-content .card .card-text p {
      font-size: 1.2rem; }
    .special .special-content .top-content .card .arrow,
    .special .special-content .bottom-content .card .arrow {
      width: 30px;
      height: 30px;
      bottom: -15px; }
  .special .special-content .bottom-content .card {
    margin-bottom: 20px; }
  .message .message-content .left .title span:first-of-type {
    font-size: 1.8rem; }
  .message .message-content .left .title span {
    font-size: 2rem;
    line-height: 30px; }
  .message .message-content .right {
    margin-top: 20px; }
    .message .message-content .right p {
      font-size: 1.2rem;
      letter-spacing: 2px; }
  .bis-work .bis-work-content .right .title span {
    font-size: 2rem; }
  .bis-work .bis-work-content .right p {
    font-size: 1.2rem; } }

@media screen and (max-width: 450px) {
  .envi-employ .employ-content {
    width: 100%; }
    .envi-employ .employ-content .content .text span {
      font-size: 1.2rem; }
    .envi-employ .employ-content .content .icon {
      width: 70px;
      height: 70px; }
      .envi-employ .employ-content .content .icon .icon-employ {
        width: 12px; }
  .menu-bottom .mebo-content ul {
    width: 100%; }
    .menu-bottom .mebo-content ul li {
      margin: 20px; } }
